<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
 <!--  渲染 Flash 消息  -->
{% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        <ul>
        {% for category, message in messages %}
            <li class="{{ category }}">{{ message }}</li>
        {% endfor %}
        </ul>
    {% endif %}
{% endwith %}
     <h2>登录</h2>
    <form method="POST" action="{{ url_for('login') }}">
        <div>
            <label>用户名</label>
            <input type="text" name="username" required>
        </div>
        <div>
            <label>密码</label>
            <input type="password" name="password" required>
        </div>
        <button type="submit">登录</button>
    </form>
    <p>没有账号？<a href="{{ url_for('register') }}">立即注册</a></p>
</body>
</html>