<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
 <!--  渲染 Flash 消息  -->
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <ul>
            {% for category, message in messages %}
                <li class="{{ category }}">{{ message }}</li>
            {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
    <h2>注册</h2>
    <form method="POST" action="{{ url_for('register') }}">
        <div>
            <label for="username">用户名</label>
            <input type="text" id="username" name="username" required>
        </div>
        <div>
            <label for="email">邮箱</label>
            <input type="email" id="email" name="email" required>
        </div>
        <div>
            <label for="password">密码</label>
            <input type="password" id="password" name="password" required>
        </div>
        <button type="submit">注册</button>
    </form>

    <p>已有账号？<a href="{{ url_for('login') }}">登录</a></p>

</body>
</html>